@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root
{
  @apply h-full
}
#root,html,body
{
  width: 100%;
  background-color: #000211;
  height: 100%;
  position: relative;



    touch-action: pan-x pan-y;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;


}

*
{
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}
input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10px;
  gap: 10px;
}
/* media */
@media (max-width: 800px)
{
   .App{
        text-align: center;


  }

}
@media screen and (max-width: 768px) {
  .App {
    padding: 5px;
    gap: 5px;
  }
  
  /* Adjust other responsive styles as needed */
}

@media screen and (max-width: 480px) {
  .App {
    padding: 3px;
    gap: 3px;
  }
  
  /* Further adjustments for smaller screens */
}