.main_container
{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #000211;
    flex: 9;
    gap: 10px;;
    box-sizing: border-box;
}
.container
{
    background-color: #1C293A;
    border-radius: 5px;
    flex: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 50px; */
    box-sizing: border-box;
}

/* home and main */
header
{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}
.fa_icon
{
    font-size: 30px;
    display: none;
}
.fa_icon:hover 
{
    cursor: pointer;
}
header input
{
    width: 40vw;
    padding: 10px;
    font-size: 20px;
    background-color: #000211;
    border: none;
    border-radius: 3px;
    outline: 0;
    color: white;
    flex: 1;
    margin-bottom: 0px;
}


header input:-webkit-autofill,
header input:-webkit-autofill:hover,
header input:-webkit-autofill:focus,
header input:-webkit-autofill:active {
    background-color: #000211 !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    box-shadow: 0 0 0px 1000px #000211 inset !important;
    transition: background-color 5000s ease-in-out 0s; /* Prevents autofill flash */
    font-size: 20px !important; 
}


header button
{
    width: 100px;
    padding: 10px;
    font-size: 20px;
    background-color: #000211;
    border: none;
    border-radius: 3px;
    outline: 0;
    color: white;
    box-shadow: 7px 7px 2px  #0a1a2e;
    
    transition: box-shadow 0.3s ease-out, transform 0.2s ease-out;
}
header button:hover
{
    
    box-shadow: 4px 4px 2px  #0a1a2e;
}
header button:active
{
    transform: translateY(7px);
    box-shadow: 0px 0px 2px  #0a1a2e;
}
/* CITY */
.header
{
    height: 10%
}
.display_area
{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 20px; */
    gap:40px;
    overflow: hidden;
    box-sizing: border-box;
    height: 80%;

}
.display_area p
{
    font-size: 25px;
    font-weight: 900;
    padding: 0px 20px;
}
.name_sec
{
    width: 90%;
    text-align: left;
    
}
.name_sec h1
{
    font-size: 60px;
}
.name_sec h2
{
    font-size: 40px;
    font-weight: 100;

}
.data_sec
{
    height: 100%;
    width: calc(100% - 40px);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #000211;
    padding: 15px  0px;
    overflow: hidden;
    gap: 50px;
    column-gap: 80px;
    margin-bottom: 20px;
}
.data_sec > div
{
    width: 250px;
    display: flex;
    gap: 50px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.head_con
{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.foot_con
{
    font-size: 25px;
    font-weight: 200;
}
.city_frame
{
    display: none;
    /* flex-direction: column; */
}
/* CITY RIGHT */
.info
{
    border-radius: 5px;
    display: flex;
    flex: 1;
    height: 100%;
    background-color:#000211;
    flex-direction: column;

    gap: 10px;
}
.map
{
    background-color: #1C293A;
    width: 100%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map iframe
{
    width: 90%;
    height: 370px;
}
.fact_info
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    border-radius: 5px;
    background-color: #1C293A;
    height: 30vh;
    padding: 20px;
}
.fact_info h1
{
    font-size: 35px;
}
.fact_info p
{
    font-size: 20px;
    margin: 10px 0px 20px 0px;
}
/* HOME */
.weath_info_head
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.weath_info_head div:first-child
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    background-color: #1C293A;
}
.weath_info_head div:first-child h1
{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}
.weath_info_head div:first-child h2
{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 400;
}
.weath_info_head div:first-child p
{
    font-size: 20px;
    font-weight: 250;
    margin-bottom: 5px;
}
.weath_info_head div:first-child p:last-child
{
    font-size: 20px;
    font-weight: 250;

}

.weath_info_head div:last-child 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.weath_info_head div:last-child img
{
    scale: 2.5;

}
.weath_info_data
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    /* height: 200px; */
}
.weath_info_data1
{
    height: 190px !important;
}
.weath_info_data1,.weath_info_data2
{
    width: calc(100% - 40px);
    height: 120px;
    background-color: #000211;
    border-radius: 4px;
}
.weath_info_data1
{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: start;
    padding: 10px;
    height: 100%;
     /* overflow-x: scroll;  */
    /* overflow-y: hidden; */
}

.line
{
    width: 1px !important;
    background-color: rgba(255, 255, 255, 0.24) !important;
    height: 70px !important;
    border-radius: 50px;
}
.weath_time_info
{
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 100px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-evenly;
    gap: 10px;
}
.weath_time_info p
{
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}
.forecast_heading
{
    margin: 10px 0px 0px 10px;
}
.right_container
{
    border-radius: 5px;
    display: flex;
    flex: 1;
    height: 100%;
    background-color: #1C293A;
    flex-direction: column;

    gap: 10px;
}
.weath_info_data2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    column-gap: 50px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    /* width: 100%; */
    padding: 20px;
    box-sizing: border-box;
}
.in_data
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.meta_data
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right_container .week_day
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
}
@media (max-width: 800px)
{
    .main_container
    {
        box-sizing: border-box;
        flex-direction: column;
        gap: 10px;
        /* height: 1000px; */
        display: unset;
        /* flex-direction: column; */

    }
    .main_container .container
    {
        /* all: unset; */
        flex: unset;
        height: 900px !important;
        gap: 50px;
        margin-bottom: 10px;
        justify-content: start;
    }
    .display_area
{
    gap: 30px;
}

    .data_sec
    {
        border: 2px solid red;
        padding-top: 20px;
        display: flex;
        gap: 50px;
        height: 75%;

    }
    .data_sec > div
    {
        display: flex;
        justify-content: space-between;
        width: 70%;
        gap: 50px;
        font-size: 35px;
    }
    .name_sec h1
    {
        font-size: 50px;
    }
    .name_sec h2
    {
        font-size: 30px;
    }
 
    .head_con
    {
        font-size: 30px;
    }
    .foot_con
    {
        font-size: 20px;
    }
    .fa_icon
{
    font-size: 30px;
    display: flex;
}
.city_frame
{
    display: flex;
}
.map iframe
{
    height: 400px;
}
.info
{
    height: 700px;
    display: flex;
    gap: 10px;
}
.fact_info
{
    font-size: 10px;
    height: 200px;
}
/* data */
.weath_time_info
{
  padding: 30px 0px 0px 0px;
  gap: 0px;
}
.weath_time_info p
{
  /* padding: 10px 0px 0px 0px; */
  font-size: 15px;
}
/* .weath_info_data2
{

} */
}