.setting_container
{
    background-color: #1C293A;
    border-radius: 5px;
    flex: 9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px;
    /* gap: 50px; */
    box-sizing: border-box;
    height: 100%;
}
/* From Uiverse.io by vinodjangid07 */ 
/* To hide the checkbox */
#checkboxInput {
  display: none;
}
.setting_container header
{
    font-size: 30px;
    display: none;
}

.setting_1
{
    margin: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.toggleSwitch {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
  background-color: rgb(175, 175, 175);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .2s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: .2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid #1C293A;
}

#checkboxInput:checked+.toggleSwitch::after {
  z-index: 1;
  transform: translateX(100%);
  transition-duration: .2s;
  background-color:#1C293A;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
  z-index: 1;
  background-color:#496283;
  transition-duration: .2s;
}
.bars:hover
{
  cursor: pointer;
}
@media (max-width: 800px)
{
  .setting_container header
  {
    font-size: 30px;
    display:flex;
  }

}