.foot_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    flex: 3;
    background-color: #1C293A;
    border-radius: 5px;
}
.foot_frame
{
    width: calc(100% - 30px);
    height: calc(100% - 60px);
    border-radius: 5px;
}
@media (max-width: 800px)
{
    .foot_container
    {
        display: none;
    }
    
}