
.open
{
    position: relative;
left: 0;
height: 100%;
    flex: 1;
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 0px;
    background-color: #1C293A;
    border-radius: 5px;
    transition: all 0s ease-in-out;
    z-index: 999;
}
.handler
{
    display: none;
    width: 90%;
    text-align: left;
}
.heading h1
{
    font-size: 1.7vw;
    font-weight: bolder;
}
.heading .icon
{
    font-size: 30px;
}
.list
{
    width: 100%;
    box-sizing: border-box;
}
.list h3
{

    width: 100%;
    list-style: none;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 1.5vw;
    transition: all 0.2s ;
}
.list h3:hover
{
    transform: scale(1.1);
    cursor: pointer;

}
.icon
{
    margin-bottom: 10px;
}
.handler:hover
{
    cursor: pointer;
}
@media (max-width:800px) {
    .main
    {

        height: 100vh;
        width: 100vw;
        transition: all 0.2s ease-in;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #1C293A;
        opacity: 1;
        box-sizing: border-box;
        padding: 40px 0px;
        
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 90px;
        align-items: center;
        background-color: #1C293A;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
        z-index: 999;
    }
    .open
    {
        transition: all 0.5s ease-in-out;
        /* display: none; */
        position: absolute;
        padding: 40px 0px;
        left: -800px;
        height: 100vh;
        width: 100vw;
        justify-content: flex-start;
        gap: 90px;
    }
    .heading h1
{
    font-size: 40px;
    font-weight: bolder;
}
.heading .icon
{
    font-size: 40px;
}
.list
{
    width: 100%;
    box-sizing: border-box;
}
.list h3
{

    width: 100%;
    list-style: none;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 20px;
    transition: all 0.2s ;
}
.handler
{
    display: flex;
    width: 90%;
    font-size: 40px;
    text-align: left;
}
  }
button
{
    width: 100px;
    padding: 10px;
    font-size: 20px;
    background-color: #000211;
    border: none;
    border-radius: 3px;
    outline: 0;
    color: white;
    box-shadow: 7px 7px 2px  #0a1a2e;
    
    transition: box-shadow 0.3s ease-out, transform 0.2s ease-out;
}
button:hover
{
    
    box-shadow: 4px 4px 2px  #0a1a2e;
}
button:active
{
    transform: translateY(7px);
    box-shadow: 0px 0px 2px  #0a1a2e;
}
/* CITY */